body{
  font-family: "Helvetica", "Arial";
  color: #000;
}
.nav, .about-us{
font-family: "Helvetica","Arial";
    font-size: 14px;
    line-height: 1.8em;
    text-transform: none;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}
.nav a{
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 38px;
  margin-left: 1em;
}
@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather-Italic.ttf) format("truetype");
}
.nav-pad{
  margin-top: 15px;
}

.header-line{
font-family: "helvetica";
    font-size: 17px;
    line-height: 3.3em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    color: #000;
}
.header-line-sm{
font-family: "helvetica";
    font-size: 10px;
    line-height: 2em;
    text-transform: lowercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-style: normal;
    color: #000;
}
.pad-top{
  margin-top: 140px;
}
.pad-top-sm{
  margin-top: 120px;
}
.insti{
  margin: 15px;
}
#instafeed img{
  height:100px;
  width:100px;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
.footer-copy{
margin-top:30px;
margin-bottom:30px;
}
.horizon-vert{
position: absolute;
       top: 0;
       left: 0;
       bottom: 0;
       right: 0;
       margin: auto;

}
.navbar-default .navbar-nav>li>a {
    color: #000;
}
